.skills {
  display: block;
  height: 110vh;
  background: #131e42;
  color: white;
  overflow: hidden;
  position: relative;
}

.skillsTitle {
  --padding: 0.5vmin;
  --duration: 600ms;
  --delay: calc(var(--duration) / 2);
  --ease: cubic-bezier(0.25, 1, 0.5, 1);
  font-size: 1.5rem;

  display: inline-block;
  position: relative;
  left: 50%;
  top: 0;
  overflow: hidden;
  padding: var(--padding);
  color: rgb(225, 225, 225);
  transform: translateY(-200%);
  transition: transform var(--duration) var(--ease);
}

.skillsTitle span {
  font-size: 3rem;
  display: block;
  transform: translateY(100%);
  transition: transform var(--duration) var(--ease);
}

.skillsTitle::after {
  content: "";
  position: absolute;
  top: calc(100% - var(--padding));
  left: 0;
  background-color: rgb(225, 225, 225);
  width: 100%;
  height: 0.8vmin;
  transform: scaleX(0);
  transition: transform var(--duration) var(--delay) var(--ease);
}

.skillsTitle.active span {
  transform: translateY(0);
  transition-delay: var(--delay);
}

.skillsTitle.active::after {
  transform: scaleX(1);
  transition-delay: var(--delay);
}

.skillsbox {
  display: grid;
  width: 100%;
  grid-template-columns: 10% 40% 40% 10%;
  position: relative;
  transform: translateY(-20%);
}

.langs {
  display: flex;
  grid-column: 2;
  justify-content: space-between;
  height: 100%;
  position: relative;
  flex-direction: column;
  left: -15%;
  transition: all 0.35s ease-in-out;
}

.langs.active {
  left: 0;
}

.langs h4 {
  padding-top: 3%;
}

.langs h2 {
  color: #ff8e88;
}

.langs .lines {
  position: relative;
  transform: translate(60%, -250%);
  height: 10px;
  width: 300px;
  border: 2px solid rgb(85, 83, 83);
}

.langs div .lines::after {
  content: "";
  position: absolute;
  height: 6px;
  background: #147fad;
  width: 50px;
  transition: all 0.9s ease-in-out;
}

.langs div:nth-child(2) .lines.active::after {
  width: 250px;
}

.langs div:nth-child(3) .lines.active::after {
  width: 280px;
}

.langs div:nth-child(4) .lines.active::after {
  width: 290px;
}

.langs div:nth-child(5) .lines.active::after {
  width: 270px;
}

.langs div:nth-child(6) .lines.active::after {
  width: 245px;
}

.langs div:nth-child(7) .lines.active::after {
  width: 250px;
}

.langs div:nth-child(8) .lines.active::after {
  width: 278px;
}

.tools {
  display: flex;
  grid-column: 3;
  flex-direction: column;
  position: relative;
  right: -15%;
  justify-self: center;
  transition: all 0.35s ease-in-out;
}

.tools.active {
  right: 0;
}

.tools h2 {
  color: #ff8e88;
}

.tools h4 {
  padding-top: 11%;
}

.tools .lines {
  position: relative;
  transform: translate(80%, -140%);
  height: 10px;
  width: 300px;
  border: 2px solid rgb(85, 83, 83);
}

.tools div .lines::after {
  content: "";
  position: absolute;
  height: 6px;
  background: #147fad;
  width: 50px;
  transition: all 0.9s ease-in-out;
}

.tools div:nth-child(2) .lines.active::after {
  width: 280px;
}

.tools div:nth-child(3) .lines.active::after {
  width: 255px;
}

.tools div:nth-child(4) .lines.active::after {
  width: 260px;
}

.tools div:nth-child(5) .lines.active::after {
  width: 280px;
}

.bottomsvg {
  position: absolute;
  bottom: 15%;
  left: 0;
  width: 100%;
  height: 20vh;
}

@media screen and (max-width: 1400px) {
  .skills {
    margin-top: 60px;
  }
  .bottomsvg {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .bottomsvg {
    display: none;
  }
  .skillscontent {
    justify-content: center;
    align-content: center;
  }

  .skillscontent h1 {
    left: 45%;
    color: rgb(27, 0, 100);
  }

  .skillsbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .skillsbox .langs {
    position: relative;
    margin: 100px 50px;
  }

  .skillsbox .tools {
    position: relative;
    margin: 0 50px;
  }

  .skills .tools * {
    margin-top: 8px;
    padding: 0;
  }

  .skills .tools .lines {
    position: relative;
    left: 40%;
    transform: translateY(-27px);
  }
}
